<script lang="ts">
    import type { PageData } from './$types';
	export let data: PageData;
</script>

<ul>
    {#each data.teams as team}
    <li>
        {team.name}
        <ul>
            {#each team.players as player}
            <li>
                {player.name} : {player.score}
            </li>
            {/each}
        </ul>
    </li>
    {/each}
</ul>